rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read access for all files.
    // This allows images like avatars to be displayed.
    match /{allPaths=**} {
      allow read: if true;
      allow write: if false; // Keep writes restricted.
    }
  }
}
